$font-family-main: "Cabin Condensed", sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$brand-color: #0f295d;
$alt-color: #621818;
$light-grey: #eee;
$dark-grey: #333;
$brand-color-dark: #222432;
$brand-color-darker: #1c1d29;